/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

/* general - begin */
 .container {
   width: auto;
 }

 html {
   height: 100%;
 }

 body {
   //height: 100%;
   margin-right: -15px;
   margin-left:  -15px;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   height: 100vh;
 }

 body.homepage {
   background: asset-url('Background-1.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 body.aboutpage {
   background: asset-url('Background-2.jpg');
   background-size: 100% 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 #wrap {
   min-height: 100%;
   width:  100%;
 }

 #main {
   overflow:auto;
   padding-bottom: 20px; // this needs to be bigger than footer height
 }

 #push{
   padding-top:0px;
 }

 .footer {
   position: relative;
   margin-top: -20px; //negative value of footer height
   height: 20px;
   margin-left:  15px;
   margin-right: 15px;
   clear:both;
   //padding: 0px;
   border-top: 1px solid lightgrey;
   color: inherit;
   text-align: left;
   font-size: 0.75em;
   background-color: #F5F5F5;
 }
/* general - end */

.container.home {
  background-image: url('/assets/Background-1.jpg');
}

.table tbody>tr>td.middle {
    vertical-align: middle;
}

.media {
    padding: 10px 0;
}

.media img, .fileinput .thumbnail, .thumbnail img {
    border-radius: 50%;
}

.media-left {
    padding: 0 20px;
}

.media-heading {
    color: #dd5638;
    margin-bottom: 10px;
}

.media-body {
    padding-top: 15px;
}

.btn-circle {
   width:  45px;
   height: 45px;
   text-align: center;
   //padding: 6px 0;
   padding: 10px;
   margin: 10px;
   font-size: 12px;
   line-height: 1.428571429;
   border-radius: 15px;
 }
